remote_theme: mmistakes/minimal-mistakes

plugins:
  - jekyll-remote-theme
  - jekyll-include-cache

title: MetaFFI
subtitle: "Multi-Lingual Interoperability System"
url: https://metaffi.github.io
baseurl: ""
minimal_mistakes_skin: dark
logo: /favicon.ico

repository: MetaFFI/metaffi.github.io

# Reading
include:
  - _pages

# Defaults
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      toc: true
      toc_sticky: true
      sidebar:
        nav: "main"
